# جلسه اول
### معرفی پایتون

In [ ]:
a = 2
b = 3

In [ ]:
a
b

In [ ]:
print(a)

In [ ]:
print(a * b)

In [ ]:
str = 'Hello'
print(str)

In [ ]:
str = 'Goodbye'
print(str)

In [ ]:
name = "John Doe"

In [ ]:
print(name)

In [ ]:
name = 10
type(name)
name * 3

In [ ]:
a, b, c = 1, 2, 3

a, b, c

In [ ]:
a = 10
b = 20

In [ ]:
print(a, b)
t = a
a = b
b = t

print(a, b)

In [ ]:
a, b = b, a

print(a,b)

In [ ]:
x = 20
x += 5     # x = x + 5
x

In [ ]:
x = 3
y = 20 if x > 5 else 0
y

In [ ]:
my_list = [1, 2, 3]
a, b, c = my_list

print(a, b, c)

In [ ]:
"Ali"

In [ ]:
2 ** 3

In [ ]:
23 / 4

In [ ]:
23 // 4

In [ ]:
23 % 4

In [ ]:
'Hi ali'

In [ ]:
2 +* 4

In [ ]:
m = '091712345'

In [ ]:
text = """
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
"""

In [ ]:
text

In [ ]:
name = 'Ali'

In [ ]:
name * 3

In [ ]:
family = 'Asadi'

In [ ]:
name + ' ' + family

In [ ]:
(name + ' ') * 5

In [ ]:
x = input()

In [ ]:
x

In [ ]:
first_string = "Mohammad"
second_string = "Asadi"
print(first_string + " " + second_string)

In [ ]:
y = first_string / second_string
print(y)

In [ ]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

In [ ]:
print("Name: {0}, Age: {1}".format(name, age))

In [ ]:
# url = "https://divar.ir/v/{}/{}".format(,)

In [ ]:
print(f"Name: {name}, Age:{age:4d}")

In [ ]:
print("Python", "Java", "C++", sep="   ")

In [ ]:
print('Hello', end=" ")
print('World!')

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
person = {"name": "Alice", "age": 30}
print(person)

In [ ]:
num = int(input("Enter a number: "))

In [ ]:
num * 5

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
sum = float(num1) + float(num2)
print("The sum of the two numbers is: " + str(sum))
print("The sum of the two numbers is: ", sum)
print(f"The sum of the two numbers is: {sum}")

In [ ]:
my_list = ['ali', 'baaaa', 'c', 'd']
len(my_list)

In [ ]:
int('42') * 4

In [ ]:
int('42')

In [ ]:
int(float('99.99'))

# String

In [ ]:
str = "Hello. My name is Ali."

In [ ]:
str.lower()

In [ ]:
str = str.upper()
str

In [ ]:
str.capitalize()

In [ ]:
str.find('Ali')

In [ ]:
str.count('is')

In [ ]:
str_new = str.replace('Ali', 'Mmd')

In [ ]:
str

In [ ]:
str_new

In [ ]:
str2 = "   hello, ali,   "

str2.strip()

In [ ]:
str = "Hello. My name is Ali."
print(str)

In [ ]:
s = """
تابع )(print: تابع print یÇ از توابع پایهای و پرکاربرد در پایتون است که برای نمایش خروجی در کنسول )یا صفحه نمایش( استفاده شود. مثال ۱: چاپ یک رشته ساده
"""
len(s.split('.'))

In [ ]:
str.split('\n')

In [ ]:
first_string, second_string

In [ ]:
'-'.join([first_string, second_string])

In [ ]:
str_list = str.split()

str_list

In [ ]:
' '.join(str_list)

In [ ]:
age = 16
if age >= 18:
    print('U r adult.')
    print('Bye')

In [ ]:
if age >= 18:
    print('U r adult.')
else:
    print('U r young.')

A: grade >= 18

B: 14<= grade < 18

C: 10<= grade < 14

D: grade < 10

In [ ]:
grade = float(input('Enter your grade: '))

if grade > 20 or grade < 0:
    print('Error')
else:
    if grade >= 18:
        print('A')
    elif grade >= 14:   # and grade < 18
        print('B')
    elif grade >= 10:   # and grade < 14
        print('C')
    else:
        print('D')

# Loops

In [ ]:
for i in ['z', 'b', 'c']:
    print('Hello', i)

In [ ]:
for i in "asadi":
    print("Hello", i)

In [ ]:
for i in range(10):
    print("Hi", i)

In [ ]:
for i in range(2, 10):
    print("Hi", i)

In [ ]:
for i in range(2, 10, 2): # range(start, end, step)
    print("Hi", i)

In [ ]:
for i in range(10, 1, -1): 
    print("Hi", i)

In [ ]:
names = ['Ali', 'Mohammad', 'Zahra', 'Saba', 'sadra']

for name in names:
    if name[0].upper() == 'S':
        print(f'Hello {name}!')

In [2]:
i=0
while i < 5:
    print(i)
    i += 1
    
i

0
1
2
3
4

5

In [3]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [4]:
for i in range(10):
    if i == 5:
        continue
    
    print(i)

0
1
2
3
4
6
7
8
9

In [5]:
import random

In [25]:
random.randint(100, 999)

916

In [6]:
print('-'*10)
print('H',' ' * 2 , '|',' ' * 2 , 32)
print('-'*10)

----------
H    |    32
----------

# Lists

In [7]:
my_list = ['Ali', 12, 3.14]

In [9]:
my_list[1]

12

In [10]:
my_list[1] = 20

In [11]:
my_list

['Ali', 20, 3.14]

In [12]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [17]:
my_list[-1], my_list[-2], my_list[-4]

('N', 'O', 'T')

In [18]:
my_list[1:4]

['Y', 'T', 'H']

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [19]:
my_list[:4]

['P', 'Y', 'T', 'H']

In [22]:
my_list[:4:2]

['P', 'Y', 'T', 'H']

In [25]:
my_list[1:]

['Y', 'T', 'H', 'O', 'N']

In [26]:
my_list[::2]

['P', 'T', 'O']

In [29]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[5:2:-1]

['N', 'O', 'H']

In [30]:
my_list[-1:-4:-1]

['N', 'O', 'H']

In [31]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[::-1]

['N', 'O', 'H', 'T', 'Y', 'P']

In [32]:
str = "Hello python."
str[::-1]

'.nohtyp olleH'

In [33]:
str.split()[::-1]

['python.', 'Hello']

In [37]:
my_list.append('*')
my_list

['P', 'Y', 'T', 'H', 'O', 'N', '*', '*', '*']

In [44]:
my_list.insert(1, 'Hi')
my_list

['P',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Y',
 'T',
 'H',
 'O',
 'N',
 '*',
 '*',
 '*']

In [45]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

charachter = my_list.pop()

In [46]:
charachter

'N'

In [47]:
my_list

['P', 'Y', 'T', 'H', 'O']

In [48]:
charachter = my_list.pop(1)
charachter

'Y'

In [49]:
my_list

['P', 'T', 'H', 'O']

In [53]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
my_list.remove('T')

In [54]:
my_list

['P', 'Y', 'H', 'O', 'N', 'T', 'T']

In [56]:
my_list == 'T'

False

In [57]:
L1 = [1, 2, 3]
L2 = [3, 4, 5]
L1 + L2

[1, 2, 3, 3, 4, 5]

In [58]:
L1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
1 in L1

True

In [63]:
[2 * x for x in [1,2, 3]]

[2, 4, 6]

In [67]:
[2 * x for x in range(10) if x % 2 == 0]

[0, 4, 8, 12, 16]

In [68]:
L3 = []
for x in range(10):
    if x % 2 == 0:
       L3.append(2 * x)
L3

[0, 4, 8, 12, 16]

In [71]:
words = ['python', 'is', 'awesome']

upper_words = [word.upper() for word in words]
upper_words

['PYTHON', 'IS', 'AWESOME']

In [74]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
L4 = [x for x in my_list if x != 'T']
L4

['P', 'Y', 'H', 'O', 'N']

In [75]:
my_list

['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [77]:
my_list

new_list = my_list

In [78]:
new_list[0] = 'Python'
new_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [79]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [80]:
new_list = my_list.copy()
new_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [81]:
new_list[0] = 'C++'

In [83]:
new_list

['C++', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [84]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [85]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [89]:
L5 = ['AA', 'BB']
my_list.extend(L5)

In [87]:
my_list + L5

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T', 'AA', 'BB']

In [90]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T', 'AA', 'BB']

# Tuples

In [1]:
my_tuple = (1, 2, 3)

In [2]:
my_tuple[1]

2

In [3]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [4]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:3]

(1, 2, 3)

In [5]:
my_tuple * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [6]:
tuple2 = (10, 20, 30)

tuple2 + my_tuple

(10, 20, 30, 1, 2, 3, 4, 5)

In [7]:
10 in tuple2

True

In [14]:
tuple2.index(20)

1

In [18]:
my_list = []
tuple3 = ('aaa', 34)
type(tuple3)

tuple

In [19]:
int(3.14)

3

In [20]:
my_list = [10, 20, 30]

tup = tuple(my_list)

tup

(10, 20, 30)

In [22]:
list2 = list(my_tuple)
list2

[1, 2, 3, 4, 5]

In [23]:
min(tup)

10

In [30]:
tup_sting = ('ali', 'z', 'ahmad')
min(tup_sting)

'ahmad'

In [34]:
tup_sting = ('A', '20000')
min(tup_sting)

'20000'

# Dictionaries

In [42]:
my_dict = {'Math': 10 , 'Physics' : 15 , 'Sport': 18}

In [37]:
my_dict['Math']

10

In [38]:
my_dict['Physics'] = 16
my_dict

{'Math': 10, 'Physics': 16, 'Sport': 18}

In [43]:
my_dict['Art'] = 10
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [41]:
del my_dict['Math']

my_dict

{'Physics': 16, 'Sport': 18, 'Art': 10}

In [45]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [49]:
list(my_dict.keys())

['Math', 'Physics', 'Sport', 'Art']

In [50]:
my_dict.values()

dict_values([10, 15, 18, 10])

In [51]:
my_dict.items()

dict_items([('Math', 10), ('Physics', 15), ('Sport', 18), ('Art', 10)])

In [52]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [55]:
average = sum(my_dict.values()) / len(my_dict.values())

average

13.25

In [54]:
len(my_dict)

4

In [57]:
for key in my_dict.keys():
    print(key)

Math
Physics
Sport
Art

In [59]:
for value in my_dict.values():
    print(value)

10
15
18
10

In [61]:
for key, value in my_dict.items():
    print(f"{key} : {value}")

Math : 10
Physics : 15
Sport : 18
Art : 10

In [69]:
list_dict = list(my_dict.keys())[::2]
list_dict

['Math', 'Sport']

In [67]:
my_dict[list(my_dict.keys())[1]]

15

In [71]:
my_dict[list_dict[0]], my_dict[list_dict[1]]

(10, 18)

In [72]:
my_dict.update({'Lang': 18})

In [73]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

In [74]:
dict3 = my_dict

In [75]:
dict3['Math'] = 20

my_dict

{'Math': 20, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

In [76]:
dict4 = my_dict.copy()
dict4

{'Math': 20, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

# Sets

In [14]:
my_set = {1, 2, 3, 4, 1, 5}

my_set

{1, 2, 3, 4, 5}

In [15]:
my_set.add(10)
my_set

{1, 2, 3, 4, 5, 10}

In [16]:
print(len(my_set))
my_set.remove(2)
print(len(my_set))

6
5

In [17]:
my_set

{1, 3, 4, 5, 10}

In [18]:
print(len(my_set))
my_set.discard(2)
print(len(my_set))

5
5

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [20]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [21]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [22]:
set1.intersection(set2)

{3, 4}

In [23]:
set1 & set2

{3, 4}

In [24]:
set1.difference(set2)

{1, 2}

In [25]:
set1 - set2

{1, 2}

In [26]:
set1.symmetric_difference(set2)

{1, 2, 5, 6}

In [27]:
set1 ^ set2

{1, 2, 5, 6}

In [28]:
str = 'Hello Worlds.'.replace(' ', '').replace('.', '')

In [29]:
unique_letters = set(str)
print('+', '-' * 4, '+', '-' * 9, '+')
print('| Name | Frequency |')
print('+', '=' * 4, '+', '=' * 9, '+')
for letter in unique_letters:
    # print('|', letter,'   |', str.count(letter), '|')
    print(f'|{letter:6}| {str.count(letter):9} |') 

    print('+', '-' * 4, '+', '-' * 9, '+')

+ ---- + --------- +
| Name | Frequency |
+ ==== + ========= +
|s     |         1 |
+ ---- + --------- +
|r     |         1 |
+ ---- + --------- +
|W     |         1 |
+ ---- + --------- +
|e     |         1 |
+ ---- + --------- +
|l     |         3 |
+ ---- + --------- +
|o     |         2 |
+ ---- + --------- +
|d     |         1 |
+ ---- + --------- +
|H     |         1 |
+ ---- + --------- +

In [30]:
from tabulate import tabulate
print(tabulate([["Sun",696000,1989100000],["Earth",6371,5973.6],["Moon",1737,73.5],["Mars",3390,641.85]],headers=['A','B', 'C'], tablefmt="fancy_grid"))

╒═══════╤════════╤═══════════════╕
│ A     │      B │             C │
╞═══════╪════════╪═══════════════╡
│ Sun   │ 696000 │    1.9891e+09 │
├───────┼────────┼───────────────┤
│ Earth │   6371 │ 5973.6        │
├───────┼────────┼───────────────┤
│ Moon  │   1737 │   73.5        │
├───────┼────────┼───────────────┤
│ Mars  │   3390 │  641.85       │
╘═══════╧════════╧═══════════════╛

In [34]:
set1.update([10, 20, 30])

TypeError: unhashable type: 'list'

In [41]:
set1

TypeError: 'set' object is not subscriptable

In [38]:
t1 = []
t2 = ()
t3 = {}
t4 = {}
print(type(t1),type(t2),type(t3), type(t4))

SyntaxError: invalid syntax (1279533855.py, line 4)

In [39]:
t5 = list()

In [22]:
type(t5)

NameError: name 't5' is not defined

<div style="color: red;background-color: yellow;">
<h2>Functions </h2>
</div>

In [1]:
def summation(a, b):
    '''
    تابع جمع دو عدد
    input: a,b
    output: a+b
    '''
    s = a + b
    return s

summation(2,4)

6

In [2]:
summation(3,10)

13

In [3]:
summation(20, 30)

50

In [4]:
help(summation)

Help on function summation in module __main__:

summation(a, b)
    تابع جمع دو عدد
    input: a,b
    output: a+b

In [5]:
# help(list)

In [6]:
def upp_low_count(string):
    lower_count = 0
    upper_count = 0
    for ch in string:
        if ch.islower():
            lower_count += 1
        elif ch.isupper():
            upper_count += 1
    return lower_count, upper_count

In [7]:
st = "My name is Ali."

l_count, u_count = upp_low_count(st)

        
print(l_count, u_count)

9 2

In [8]:
upp_low_count("Hi Reza, How are U?")

(9, 4)

In [9]:
def mean_list(lst):
    return (sum(lst) / len(lst))

In [10]:
my_list = [10, 12, 15, 81, 20]

mean_list(my_list)

27.6

In [11]:
min(my_list)

10

In [12]:
len(st.split())

4

In [13]:
upp_low_count()

TypeError: upp_low_count() missing 1 required positional argument: 'string'

In [14]:
def welcome(name="World"):
    print(f"Welcome {name}!")

In [15]:
welcome("Ali")

Welcome Ali!

In [16]:
welcome()

Welcome World!

In [28]:
welcome("Ali", "Reza")

TypeError: welcome() takes from 0 to 1 positional arguments but 2 were given

In [21]:
st = "Hi. I am Ali. U?"

In [23]:
st.split(".")
# default value

['Hi', ' I am Ali', ' U?']

In [26]:
def summation(*args):
    return sum(args)


summation(1,2)

3

In [27]:
summation(10, 20, 30, 40)

100

In [29]:
def disp_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} ---- {value}")

In [30]:
disp_info(name="Ali", age=30, income=1000)

name ---- Ali
age ---- 30
income ---- 1000

In [31]:
disp_info(name="Ali", age=30)

name ---- Ali
age ---- 30

In [32]:
disp_info(city="Tehran")

city ---- Tehran

<div style="color: red;background-color: yellow;">
<h2>lambda </h2>
</div>

In [33]:
# def add(a, b):
#     return a + b

add = lambda a, b : a + b

add(10, 30)

40

In [34]:
def square(a):
    return a ** 2

In [35]:
square(5)

25

In [36]:
sq = lambda a : a ** 2
sq(5)

25

<div style="color: red;background-color: yellow;">
<h2>map </h2>
</div>

In [ ]:
map(func, data)

In [50]:
my_list = [1, 2, 3, 4, 5]

list(map(lambda a :  a ** 2, my_list))

[1, 4, 9, 16, 25]

<div style="color: red;background-color: yellow;">
<h2>filter </h2>
</div>

In [47]:
list(filter(lambda a : (a % 2 == 0), my_list))

[2, 4]

In [52]:
my_list = [1, 2, 3, 4, 5]
list(map(lambda a :  a ** 2, my_list))

sq_list =[]
for i in my_list:
    sq_list.append(i ** 2)
    
sq_list

[1, 4, 9, 16, 25]

In [53]:
my_list

[1, 2, 3, 4, 5]

In [57]:
words = ["ali", 'apple', "book"]

list(map(lambda w : w.upper(), words))

['ALI', 'APPLE', 'BOOK']

In [ ]:
map(func, list)

In [63]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ["@", "#", "$", "&"]

<div style="color: red;background-color: yellow;">
<h2>zip </h2>
</div>

In [62]:
list(zip(list1, list2, list3))

[(1, 'a', '@'), (2, 'b', '#'), (3, 'c', '$')]

In [66]:
dict(zip(list1, list2))

{1: 'a', 2: 'b', 3: 'c'}

In [72]:
names = ["Ali", "Sadra", "Mmd"]

age = [15, 17, 16]

dict(zip(names, age))

{'Ali': 15, 'Sadra': 17, 'Mmd': 16}

In [71]:
for key, value in dict(zip(names, age)).items():
    print("===", key, value)

=== Ali 15
=== Sadra 17
=== Mmd 16

In [75]:
a = 2
b = 3

a, b

(2, 3)