# جلسه اول
### معرفی پایتون

In [ ]:
a = 2
b = 3

In [ ]:
a
b

In [ ]:
print(a)

In [ ]:
print(a * b)

In [ ]:
str = 'Hello'
print(str)

In [ ]:
str = 'Goodbye'
print(str)

In [ ]:
name = "John Doe"

In [ ]:
print(name)

In [ ]:
name = 10
type(name)
name * 3

In [ ]:
a, b, c = 1, 2, 3

a, b, c

In [ ]:
a = 10
b = 20

In [ ]:
print(a, b)
t = a
a = b
b = t

print(a, b)

In [ ]:
a, b = b, a

print(a,b)

In [ ]:
x = 20
x += 5     # x = x + 5
x

In [ ]:
x = 3
y = 20 if x > 5 else 0
y

In [ ]:
my_list = [1, 2, 3]
a, b, c = my_list

print(a, b, c)

In [ ]:
"Ali"

In [ ]:
2 ** 3

In [ ]:
23 / 4

In [ ]:
23 // 4

In [ ]:
23 % 4

In [ ]:
'Hi ali'

In [ ]:
2 +* 4

In [ ]:
m = '091712345'

In [ ]:
text = """
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
"""

In [ ]:
text

In [ ]:
name = 'Ali'

In [ ]:
name * 3

In [ ]:
family = 'Asadi'

In [ ]:
name + ' ' + family

In [ ]:
(name + ' ') * 5

In [ ]:
x = input()

In [ ]:
x

In [ ]:
first_string = "Mohammad"
second_string = "Asadi"
print(first_string + " " + second_string)

In [ ]:
y = first_string / second_string
print(y)

In [ ]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

In [ ]:
print("Name: {0}, Age: {1}".format(name, age))

In [ ]:
# url = "https://divar.ir/v/{}/{}".format(,)

In [ ]:
print(f"Name: {name}, Age:{age:4d}")

In [ ]:
print("Python", "Java", "C++", sep="   ")

In [ ]:
print('Hello', end=" ")
print('World!')

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
person = {"name": "Alice", "age": 30}
print(person)

In [ ]:
num = int(input("Enter a number: "))

In [ ]:
num * 5

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
sum = float(num1) + float(num2)
print("The sum of the two numbers is: " + str(sum))
print("The sum of the two numbers is: ", sum)
print(f"The sum of the two numbers is: {sum}")

In [ ]:
my_list = ['ali', 'baaaa', 'c', 'd']
len(my_list)

In [ ]:
int('42') * 4

In [ ]:
int('42')

In [ ]:
int(float('99.99'))

# String

In [ ]:
str = "Hello. My name is Ali."

In [ ]:
str.lower()

In [ ]:
str = str.upper()
str

In [ ]:
str.capitalize()

In [ ]:
str.find('Ali')

In [ ]:
str.count('is')

In [ ]:
str_new = str.replace('Ali', 'Mmd')

In [ ]:
str

In [ ]:
str_new

In [ ]:
str2 = "   hello, ali,   "

str2.strip()

In [ ]:
str = "Hello. My name is Ali."
print(str)

In [ ]:
s = """
تابع )(print: تابع print یÇ از توابع پایهای و پرکاربرد در پایتون است که برای نمایش خروجی در کنسول )یا صفحه نمایش( استفاده شود. مثال ۱: چاپ یک رشته ساده
"""
len(s.split('.'))

In [ ]:
str.split('\n')

In [ ]:
first_string, second_string

In [ ]:
'-'.join([first_string, second_string])

In [ ]:
str_list = str.split()

str_list

In [ ]:
' '.join(str_list)

In [ ]:
age = 16
if age >= 18:
    print('U r adult.')
    print('Bye')

In [ ]:
if age >= 18:
    print('U r adult.')
else:
    print('U r young.')

A: grade >= 18

B: 14<= grade < 18

C: 10<= grade < 14

D: grade < 10

In [ ]:
grade = float(input('Enter your grade: '))

if grade > 20 or grade < 0:
    print('Error')
else:
    if grade >= 18:
        print('A')
    elif grade >= 14:   # and grade < 18
        print('B')
    elif grade >= 10:   # and grade < 14
        print('C')
    else:
        print('D')

# Loops

In [ ]:
for i in ['z', 'b', 'c']:
    print('Hello', i)

In [ ]:
for i in "asadi":
    print("Hello", i)

In [ ]:
for i in range(10):
    print("Hi", i)

In [ ]:
for i in range(2, 10):
    print("Hi", i)

In [ ]:
for i in range(2, 10, 2): # range(start, end, step)
    print("Hi", i)

In [ ]:
for i in range(10, 1, -1): 
    print("Hi", i)

In [ ]:
names = ['Ali', 'Mohammad', 'Zahra', 'Saba', 'sadra']

for name in names:
    if name[0].upper() == 'S':
        print(f'Hello {name}!')

In [ ]:
i=0
while i < 5:
    print(i)
    i += 1
    
i

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(10):
    if i == 5:
        continue
    
    print(i)

In [ ]:
import random

In [ ]:
random.randint(100, 999)

In [ ]:
print('-'*10)
print('H',' ' * 2 , '|',' ' * 2 , 32)
print('-'*10)

# Lists

In [ ]:
my_list = ['Ali', 12, 3.14]

In [ ]:
my_list[1]

In [ ]:
my_list[1] = 20

In [ ]:
my_list

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
my_list[-1], my_list[-2], my_list[-4]

In [ ]:
my_list[1:4]

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
my_list[:4]

In [ ]:
my_list[:4:2]

In [ ]:
my_list[1:]

In [ ]:
my_list[::2]

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[5:2:-1]

In [ ]:
my_list[-1:-4:-1]

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[::-1]

In [ ]:
str = "Hello python."
str[::-1]

In [ ]:
str.split()[::-1]

In [ ]:
my_list.append('*')
my_list

In [ ]:
my_list.insert(1, 'Hi')
my_list

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

charachter = my_list.pop()

In [ ]:
charachter

In [ ]:
my_list

In [ ]:
charachter = my_list.pop(1)
charachter

In [ ]:
my_list

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
my_list.remove('T')

In [ ]:
my_list

In [ ]:
my_list == 'T'

In [ ]:
L1 = [1, 2, 3]
L2 = [3, 4, 5]
L1 + L2

In [ ]:
L1 * 3

In [ ]:
1 in L1

In [ ]:
[2 * x for x in [1,2, 3]]

In [ ]:
[2 * x for x in range(10) if x % 2 == 0]

In [ ]:
L3 = []
for x in range(10):
    if x % 2 == 0:
       L3.append(2 * x)
L3

In [ ]:
words = ['python', 'is', 'awesome']

upper_words = [word.upper() for word in words]
upper_words

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
L4 = [x for x in my_list if x != 'T']
L4

In [ ]:
my_list

In [ ]:
my_list

new_list = my_list

In [ ]:
new_list[0] = 'Python'
new_list

In [ ]:
my_list

In [ ]:
new_list = my_list.copy()
new_list

In [ ]:
new_list[0] = 'C++'

In [ ]:
new_list

In [ ]:
my_list

In [ ]:
my_list

In [ ]:
L5 = ['AA', 'BB']
my_list.extend(L5)

In [ ]:
my_list + L5

In [ ]:
my_list

# Tuples

In [ ]:
my_tuple = (1, 2, 3)

In [ ]:
my_tuple[1]

In [ ]:
my_tuple[0] = 10

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:3]

In [ ]:
my_tuple * 3

In [ ]:
tuple2 = (10, 20, 30)

tuple2 + my_tuple

In [ ]:
10 in tuple2

In [ ]:
tuple2.index(20)

In [ ]:
my_list = []
tuple3 = ('aaa', 34)
type(tuple3)

In [ ]:
int(3.14)

In [ ]:
my_list = [10, 20, 30]

tup = tuple(my_list)

tup

In [ ]:
list2 = list(my_tuple)
list2

In [ ]:
min(tup)

In [ ]:
tup_sting = ('ali', 'z', 'ahmad')
min(tup_sting)

In [ ]:
tup_sting = ('A', '20000')
min(tup_sting)

# Dictionaries

In [ ]:
my_dict = {'Math': 10 , 'Physics' : 15 , 'Sport': 18}

In [ ]:
my_dict['Math']

In [ ]:
my_dict['Physics'] = 16
my_dict

In [ ]:
my_dict['Art'] = 10
my_dict

In [ ]:
del my_dict['Math']

my_dict

In [ ]:
my_dict

In [ ]:
list(my_dict.keys())

In [ ]:
my_dict.values()

In [ ]:
my_dict.items()

In [ ]:
my_dict

In [ ]:
average = sum(my_dict.values()) / len(my_dict.values())

average

In [ ]:
len(my_dict)

In [ ]:
for key in my_dict.keys():
    print(key)

In [ ]:
for value in my_dict.values():
    print(value)

In [ ]:
for key, value in my_dict.items():
    print(f"{key} : {value}")

In [ ]:
list_dict = list(my_dict.keys())[::2]
list_dict

In [ ]:
my_dict[list(my_dict.keys())[1]]

In [ ]:
my_dict[list_dict[0]], my_dict[list_dict[1]]

In [ ]:
my_dict.update({'Lang': 18})

In [ ]:
my_dict

In [ ]:
dict3 = my_dict

In [ ]:
dict3['Math'] = 20

my_dict

In [ ]:
dict4 = my_dict.copy()
dict4

# Sets

In [ ]:
my_set = {1, 2, 3, 4, 1, 5}

my_set

In [ ]:
my_set.add(10)
my_set

In [ ]:
print(len(my_set))
my_set.remove(2)
print(len(my_set))

In [ ]:
my_set

In [ ]:
print(len(my_set))
my_set.discard(2)
print(len(my_set))

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [ ]:
set1.union(set2)

In [ ]:
set1 | set2

In [ ]:
set1.intersection(set2)

In [ ]:
set1 & set2

In [ ]:
set1.difference(set2)

In [ ]:
set1 - set2

In [ ]:
set1.symmetric_difference(set2)

In [ ]:
set1 ^ set2

In [ ]:
str = 'Hello Worlds.'.replace(' ', '').replace('.', '')

In [ ]:
unique_letters = set(str)
print('+', '-' * 4, '+', '-' * 9, '+')
print('| Name | Frequency |')
print('+', '=' * 4, '+', '=' * 9, '+')
for letter in unique_letters:
    # print('|', letter,'   |', str.count(letter), '|')
    print(f'|{letter:6}| {str.count(letter):9} |') 

    print('+', '-' * 4, '+', '-' * 9, '+')

In [ ]:
from tabulate import tabulate
print(tabulate([["Sun",696000,1989100000],["Earth",6371,5973.6],["Moon",1737,73.5],["Mars",3390,641.85]],headers=['A','B', 'C'], tablefmt="fancy_grid"))

In [ ]:
set1.update([10, 20, 30])

In [ ]:
set1

In [ ]:
t1 = []
t2 = ()
t3 = {}
t4 = {}
print(type(t1),type(t2),type(t3), type(t4))

In [ ]:
t5 = list()

In [ ]:
type(t5)

<div style="color: red;background-color: yellow;">
<h2>Functions </h2>
</div>

In [ ]:
def summation(a, b):
    '''
    تابع جمع دو عدد
    input: a,b
    output: a+b
    '''
    s = a + b
    return s

summation(2,4)

In [ ]:
summation(3,10)

In [ ]:
summation(20, 30)

In [ ]:
help(summation)

In [ ]:
# help(list)

In [ ]:
def upp_low_count(string):
    lower_count = 0
    upper_count = 0
    for ch in string:
        if ch.islower():
            lower_count += 1
        elif ch.isupper():
            upper_count += 1
    return lower_count, upper_count

In [ ]:
st = "My name is Ali."

l_count, u_count = upp_low_count(st)

        
print(l_count, u_count)

In [ ]:
upp_low_count("Hi Reza, How are U?")

In [ ]:
def mean_list(lst):
    return (sum(lst) / len(lst))

In [ ]:
my_list = [10, 12, 15, 81, 20]

mean_list(my_list)

In [ ]:
min(my_list)

In [ ]:
len(st.split())

In [ ]:
upp_low_count()

In [ ]:
def welcome(name="World"):
    print(f"Welcome {name}!")

In [ ]:
welcome("Ali")

In [ ]:
welcome()

In [ ]:
welcome("Ali", "Reza")

In [ ]:
st = "Hi. I am Ali. U?"

In [ ]:
st.split(".")
# default value

In [ ]:
def summation(*args):
    return sum(args)


summation(1,2)

In [ ]:
summation(10, 20, 30, 40)

In [ ]:
def disp_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} ---- {value}")

In [ ]:
disp_info(name="Ali", age=30, income=1000)

In [ ]:
disp_info(name="Ali", age=30)

In [ ]:
disp_info(city="Tehran")

<div style="color: red;background-color: yellow;">
<h2>lambda </h2>
</div>

In [ ]:
# def add(a, b):
#     return a + b

add = lambda a, b : a + b

add(10, 30)

In [ ]:
def square(a):
    return a ** 2

In [ ]:
square(5)

In [ ]:
sq = lambda a : a ** 2
sq(5)

<div style="color: red;background-color: yellow;">
<h2>map </h2>
</div>

In [ ]:
map(func, data)

In [ ]:
my_list = [1, 2, 3, 4, 5]

list(map(lambda a :  a ** 2, my_list))

<div style="color: red;background-color: yellow;">
<h2>filter </h2>
</div>

In [ ]:
list(filter(lambda a : (a % 2 == 0), my_list))

In [ ]:
my_list = [1, 2, 3, 4, 5]
list(map(lambda a :  a ** 2, my_list))

sq_list =[]
for i in my_list:
    sq_list.append(i ** 2)
    
sq_list

In [ ]:
my_list

In [ ]:
words = ["ali", 'apple', "book"]

list(map(lambda w : w.upper(), words))

In [ ]:
map(func, list)

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ["@", "#", "$", "&"]

<div style="color: red;background-color: yellow;">
<h2>zip </h2>
</div>

In [ ]:
list(zip(list1, list2, list3))

In [ ]:
dict(zip(list1, list2))

In [ ]:
names = ["Ali", "Sadra", "Mmd"]

age = [15, 17, 16]

dict(zip(names, age))

In [ ]:
for key, value in dict(zip(names, age)).items():
    print("===", key, value)

In [ ]:
a = 2
b = 3

a, b

In [ ]:
import mymodule

In [ ]:
mymodule.welcome("Ali")

In [ ]:
mymodule.goodbye("Ali")

In [ ]:
from mymodule import *

In [ ]:
welcome("Ali")

In [ ]:
import mymodule as mm

In [ ]:
mm.goodbye("Saeed")

In [ ]:
import math
help(math)

In [ ]:
import os

In [ ]:
# add = /Users/asadi/Documents/py/My Py Course/Context
os.path.join("Context", "Git")

<div style="color: red;background-color: yellow;">
<h2>try-except </h2>
</div>

In [ ]:
10 / 0

In [ ]:
try:
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
except ValueError:
    print("یک مقدار معتبر وارد کنید.")

try:
    q = a / b
    print(q)
except ZeroDivisionError:
    print("خطای تقسیم بر صفر")

In [ ]:
try:
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
    q = a / b
except ValueError:
    print("یک مقدار معتبر وارد کنید.")
except ZeroDivisionError:
    print("خطای تقسیم بر صفر")
else:
    print(q)

In [ ]:
def divide(x, y):
    if y == 0:
        raise ValueError(".مقدار تقسیم کننده نمیتواند صفر باشد")
    return x / y

In [ ]:
try:
    print(divide(10, 0))
except ValueError as e:
    print("خطا:", e)

In [ ]:
def divide(x, y):
    # if y == 0:
    #     raise ValueError(".مقدار تقسیم کننده نمیتواند صفر باشد")
    return x / y

In [ ]:
try:
    print(divide(10, 0))
except ValueError as e:
    print("خطا:", e)

<div style="color: red;background-color: yellow;">
<h2>File </h2>
</div>

In [ ]:
filename = "myfile.txt"

text = """
Hi.
My name is Ali.
I'm a teacher.
"""

file = open(filename, "w")

file.write(text)

file.close()

In [ ]:
names = ["Ali", "Ebi", "Esi", "Mohammad"]

file = open("/Users/asadi/Documents/py/My Py Course/Codes/GIT test/names.txt", "w")

for name in names:
    file.writelines(name + "\n")
    
file.close()

In [ ]:
names = ["Ali", "Ebi", "Esi", "Mohammad"]

file = open("names.txt", "w")

for name in names:
    file.writelines(name + "\n")
    
file.close()

In [ ]:
file = open("names.txt", "r")

content = file.read()

print(content)

file.close()

In [ ]:
file = open("names.txt", "r")

name_list = file.readlines()

print(type(name_list))

for name in name_list:
    print(name.strip())

file.close()

In [ ]:
name_list[0].strip()

In [ ]:
"     Ali    \n ".strip()

In [ ]:
file = open("names.txt", "r")

while True:
    
    line = file.readline()

    if not line:
        break
    
    print(line.strip())


file.close()

In [ ]:
file = open("names.txt", "r")

a = file.readline()
print(a)

file.seek(5)

a = file.readline()
print(a)

file.close()

In [ ]:
file = open("names.txt", "r")

while True:
    print(file.tell())
    
    line = file.readline()

    if not line:
        break
    
    print(line.strip())


file.close()

In [ ]:
filename = "names.txt"

file = open(filename, "a")

file.write("Mostafa\n")

file.write("Sadra\n")

file.write("Saba")


file.close()

In [ ]:
with open(filename, "r") as file:
    content = file.read()
    
print(content)

In [ ]:
numbers = [10, 12, 16, 14, 19]

with open("grades.txt", "w") as file:
    for number in numbers:
        file.write(f"{str(number)}\n")

In [ ]:
def write_grades_file(filename, num_list):
    with open(filename, "w") as file:
        for number in num_list:
            file.write(f"{str(number)}\n")

In [ ]:
with open("grades.txt", "r+") as file:
    grades = file.readlines()
    new_grades = []
    for grade in grades:
        new_grades.append(int(grade.strip()) + 1)
    
print(grades)
print(new_grades)


write_grades_file("grades.txt", new_grades)

In [ ]:
write_grades_file("test.txt", [10, 20, 30])

### خواندن از فایل و نوشتن همزمان

In [ ]:
1/0

In [ ]:
try:
    with open("grades.txt", "r") as file:
        content = file.read()
        
        print(content)
        
except Exception as e:
    print(e)

In [ ]:
try:
    with open("aaa.txt", "r") as file:
        content = file.read()
        
        print(content)
        
except Exception as e:
    print(e)

In [ ]:
with open("aaa.txt", "r") as file:
    content = file.read()
    
    print(content)

In [ ]:
filename = "aaa.txt"
try:
    with open(filename, "r") as file:
        content = file.read()
        
        print(content)
        
except FileNotFoundError:
    print(f"فایل {filename} وجود ندارد.")
except Exception as e:
    print(e)

In [ ]:
with open("myfile.txt", "r+") as file:
    
    file.truncate(10)

### ٩٧. با استفاده ازmap وfilter لیستی از اعداد داشته باشید که اعداد زوج را به توان ۲ برساند.

In [ ]:
numbers = [3, 4, 6, 2, 7, 1, 9]

even_numbers = list(filter(lambda x : x % 2 == 0, numbers))

list(map(lambda x : x ** 2, even_numbers))

In [ ]:
numbers = [3, 4, 6, 2, 7, 1, 9]

[x ** 2 if x % 2 == 0 else x for x in numbers]

### CSV

In [ ]:
import csv

In [ ]:
data_list = []
with open("data.csv", "r") as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)
        data_list.append(row)

In [ ]:
data_list

In [ ]:
{
    "name": "Alice",
    "age": 30,
    "city" : "New York" 
}

In [ ]:
import csv

In [ ]:
with open("data.csv", "r") as file:
    csv_reader = csv.reader(file)
    
    for row in csv_reader:
        print(row)

In [ ]:
data_list = []
with open("data.csv", "r") as file:
    csv_reader = csv.DictReader(file)
    
    for row in csv_reader:
        # print(row)
        data_list.append(row)
        
data_list

In [ ]:
data_list

In [ ]:
import csv

with open('names.csv', 'w', newline='') as csvfile:
    fieldnames = ['first_name', 'last_name']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'first_name': 'Baked', 'last_name': 'Beans'})
    writer.writerow({'first_name': 'Lovely', 'last_name': 'Spam'})
    writer.writerow({'first_name': 'Wonderful', 'last_name': 'Spam'})

In [ ]:
fieldnames = ["city", "name", "age"]
with open("newdata.csv", "w") as file:
    csv_writer = csv.DictWriter(file, fieldnames=fieldnames)
    
    csv_writer.writeheader()   
    csv_writer.writerows(data_list)

In [ ]:
headers = ['name', 'age', 'city']

my_data = [
    ['Alice', '30', 'New York'],
    ['Bob', '25', 'Los Angeles'],
    ['Charlie', '35', 'Chicago'],
    ['Diana', '28', 'Houston'],
]

In [ ]:
with open("data_list.csv", "w") as file:
    csv_writer = csv.writer(file)
    
    csv_writer.writerow(headers)
    
    csv_writer.writerows(my_data)
    # for row in my_data:
    #     csv_writer.writerow(row)
        
    
    csv_writer.writerow(["Ali", "23", "Texas"])

In [ ]:
import json
import csv

f = open('data.json')
data = json.load(f)
f.close()

with open("jsontocsv.csv", "w") as file:
    
    csv_writer = csv.writer(file)
    for item in data:
        csv_writer.writerow(item)

### CLASS

In [ ]:
class Fraction:
    def __init__(self, s=1, m=1) -> None:
        self.sorat = s
        self.makhraj = m
        
    def display(self):
        print(self.sorat)
        print('---')
        print(self.makhraj)
        
    def multiply(self, y):
        s = self.sorat * y.sorat
        m = self.makhraj * y.makhraj
        z = Fraction(s, m)
        return z
    
    def frac_to_float(self):
        return self.sorat / self.makhraj

In [ ]:
x = Fraction(2, 3)
y = Fraction(4, 5)
x.display()
y.display()

In [ ]:
w = Fraction()
w.display()

In [ ]:
z = x.multiply(y)

In [ ]:
z.display()

In [ ]:
import cmath

2 + cmath.sqrt(-1)

In [ ]:
x = Fraction(2, 3)
y = Fraction(4, 5)

x.frac_to_float(), y.frac_to_float()

In [ ]:
class fraction:
    def __init__(self, sorat, makhraj) -> None:
        self.sorat = sorat
        if makhraj != 0:
            self.makhraj = makhraj
        else:
            print("مخرج نمی‌تواند صفر باشد.")
        
        
    
    def display(self):
        print(self.sorat)
        print("-"*5, sep='')
        print(self.makhraj)

In [ ]:
x = fraction(2,3)

In [ ]:
x.display()

In [ ]:
class Book():
    
    def __init__(self, title, author) -> None:
        self.title = title
        self.author = author
        self.is_checked_out = False
        
    def checked_out(self):
        self.is_checked_out = True
        
    def return_book(self):
        self.is_checked_out = False
        
    def display(self):
        print(f"{self.title} by {self.author}")

In [ ]:
book1 = Book("C++", "Jafar Nejad")

In [ ]:
book1.is_checked_out

In [ ]:
book1.display()

In [ ]:
class Library:
    def __init__(self, ) -> None:
        self.books = []
        price = 100
        
    
    def add_book(self, book):
        self.books.append(book)
    
    def show_books(self):
        for book in self.books:
            book.display()
    
    def check_in_out():
        pass

In [ ]:
my_library = Library()

my_library.add_book(book1)

book2 = Book("Network", "Tanenbaum")
my_library.add_book(book2)
# my_library.show_books()

In [ ]:
my_library.show_books()

In [ ]:
class MiniBook(Book):
    def __init__(self, title, author, pages) -> None:
        super().__init__(title, author)
        self.pages = pages
        
    def display(self):
        super().display()
        print(f"Pages: {self.pages}")

In [ ]:
minibook1 = MiniBook("Python", "Asadi", 50)

In [ ]:
minibook1.display()

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance    
            
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount
    def get_balance(self):
        return self.__balance

In [ ]:
my_account = BankAccount(500)

In [ ]:
my_account.__balance

In [ ]:
my_account.__balance = 1000

In [ ]:
my_account.get_balance()

In [ ]:
my_account.get_balance()

In [ ]:
print(my_account.__dict__)

In [ ]:
print(my_account._BankAccount__balance)  # دسترسی به متغیر خصوصی واقعی
print(my_account.__balance)               # دسترسی به متغیر جدید که خودتان تعریف کرده‌اید

In [ ]:
from abc import ABC, abstractmethod

# SQLite3

In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect("library.db")

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute("""
               CREATE TABLE IF NOT EXISTS Books(
                   id INTEGER PRIMARY KEY AUTOINCREMENT,
                   title TEXT NOT NULL,
                   author TEXT NOT NULL,
                   is_check_out BOOLEAN DEFAULT FALSE
               )
               """)

In [ ]:
cursor.execute("""
               CREATE TABLE IF NOT EXISTS Members(
                   id INTEGER PRIMARY KEY AUTOINCREMENT,
                   name TEXT NOT NULL,
                   phone TEXT NOT NULL UNIQUE
               )
               """)

In [ ]:
cursor.execute("""
               CREATE TABLE IF NOT EXISTS Loans(
                   id INTEGER PRIMARY KEY AUTOINCREMENT,
                book_id INTEGER,
                member_id INTEGER,
                loan_date TEXT DEFAULT CURRENT_TIMESTAMP,
                return_date TEXT,
                FOREIGN KEY (book_id) REFERENCES Books(id),
                FOREIGN KEY (member_id) REFERENCES Members(id)                
               )
               """)

In [ ]:
connection.commit()

In [ ]:
def add_book(title, author):
    cursor.execute("INSERT INTO Books (title, author) VALUES (?, ?)", (title, author))

In [ ]:
connection.commit()

In [ ]:
add_book("C++", "H. Shield")

In [ ]:
def add_member(name, phone):
    cursor.execute("INSERT INTO Members (name, phone) VALUES (?, ?)", (name, phone))

connection.commit()

In [ ]:
add_member("Asadi", "09171330324")

In [ ]:
# def loan_book(book_id, member_id):
    
#     cursor.execute("INSERT INTO Loans (book_id, member_id) VALUES (?, ?) ", (book_id, member_id))
#     cursor.execute("UPDATE Books SET is_check_out = ? WHERE id = ?", (True, book_id))
# connection.commit()


def loan_book(book_id, member_id):
    # ابتدا وضعیت امانت کتاب را چک کنید
    cursor.execute("SELECT is_check_out FROM Books WHERE id = ?", (book_id,))
    result = cursor.fetchone()

    if result:
        is_check_out = result[0]
        
        if is_check_out:
            print("کتاب در حال حاضر امانت داده شده است.")
        else:
            # امانت دادن کتاب
            cursor.execute("INSERT INTO Loans (book_id, member_id) VALUES (?, ?)", (book_id, member_id))
            cursor.execute("UPDATE Books SET is_check_out = ? WHERE id = ?", (True, book_id))
            connection.commit()
            print("کتاب با موفقیت امانت داده شد.")
    else:
        print("کتاب مورد نظر در پایگاه داده یافت نشد.")
        
    connection.commit()

In [ ]:
def return_book(book_id, member_id):
    cursor.execute("UPDATE Loans SET return_date = CURRENT_TIMESTAMP WHERE (book_id, member_id) = (?, ?)", (book_id, member_id))
    cursor.execute("UPDATE Books SET is_check_out = ? WHERE id = ?", (False, book_id))
connection.commit()

In [ ]:
loan_book(1,1)

In [ ]:
return_book(1,1)

In [ ]:
def display_books():
    cursor.execute("SELECT * FROM Books")
    books = cursor.fetchall()
    
    for book in books:
        print(f"ID:{ book[0]}, Title: {book[1]}, Author: {book[2]}, Status: {'Available' if book[3] == 0 else 'Not Available'}")

In [ ]:
display_books()

In [ ]:
add_book("Python", "Jafarnejad")

In [ ]:
display_books()

In [ ]:
x = 20
y = "Available" if book[3] == 0 else "Not Available"

In [ ]:
y

In [ ]:
def display_loans():
    cursor.execute("SELECT * FROM Loans")
    loans = cursor.fetchall()
    
    for loan in loans:
        print(loan)

In [ ]:
display_loans()

In [ ]:
connection.close()

# TKinter

In [ ]:
import tkinter as tk

root = tk.Tk()
root.title("My Form")
root.geometry("400x300+200+150")

label1 = tk.Label(root, text="نام")
label1.pack()

entry1 = tk.Entry(root)
entry1.pack()


def button1_click():
    print(entry1.get())
    

button1 = tk.Button(root, text="ثبت", command=button1_click)
button1.pack()


root.mainloop()

# دریافت طول و عرض و محاسبه محیط و مساحت

In [ ]:
import tkinter as tk

root = tk.Tk()
root.title("مستطیل")
root.geometry("400x300+200+200")

label_x = tk.Label(root, text="طول:", bg="yellow", fg="red")
label_x.pack()

entry_x = tk.Entry(root)
entry_x.pack()

label_y = tk.Label(root, text="عرض:", bg="yellow", fg="red")
label_y.pack()

entry_y = tk.Entry(root)
entry_y.pack()


def button_mohit_click():
    tool = float(entry_x.get())
    arz= float(entry_y.get())
    mohit = 2 * (tool + arz)
    label_mohit.config(text=str(mohit), bg="green", fg="blue")

    # print(mohit)

def button_masahat_click():
    tool = float(entry_x.get())
    arz= float(entry_y.get())
    masahat = tool * arz
    label_masahat.config(text=str(masahat))



button_mohit = tk.Button(root, text="محیط", command=button_mohit_click)
button_mohit.pack()

label_mohit = tk.Label(root, text="")
label_mohit.pack()

button_masahat = tk.Button(root, text="مساحت", command=button_masahat_click)
button_masahat.pack()

label_masahat = tk.Label(root, text="")
label_masahat.pack()

root.mainloop()

In [2]:
def f(a=2,b=3, c=0):
    print(a,b,c)
    
    
f(1, b=2)
f(2,1)
f()

1 2 0
2 1 0
2 3 0

In [5]:
import tkinter as tk
from tkinter import messagebox

root = tk.Tk()
root.title("My Form")
root.geometry("400x300+200+150")


label1 = tk.Label(root, text="نام")
label1.pack()

entry1 = tk.Entry(root)
entry1.pack()


def button1_click():
    messagebox.showinfo(title="MB", message=f"Hello {entry1.get()}!")
    

button1 = tk.Button(root, text="ثبت", command=button1_click)
button1.pack()

root.mainloop()

2024-08-31 12:07:27.071 python[91868:17244121] IMKClient Stall detected, *please Report* your user scenario attaching a spindump (or sysdiagnose) that captures the problem - (imkxpc_inputSessionDoneSleepWithReply:) block performed very slowly (9.40 secs).

1. Basic Form with Labels and Entries

In [14]:
import tkinter as tk

def submit_form():
    name = name_entry.get()
    email = email_entry.get()
    print(f"Name: {name}")
    print(f"Email: {email}")

# Create the main window
root = tk.Tk()
root.title("Basic Form")

# Create and place labels and entries
tk.Label(root, text="Name:").grid(row=0, column=0, padx=10, pady=10)
name_entry = tk.Entry(root)
name_entry.grid(row=0, column=1, padx=10, pady=10)

tk.Label(root, text="Email:").grid(row=1, column=0, padx=10, pady=10)
email_entry = tk.Entry(root)
email_entry.grid(row=1, column=1, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=2, column=0, columnspan=2, pady=20)

# Run the application
root.mainloop()

2. Form with Radio Buttons and Checkboxes

In [15]:
import tkinter as tk

def submit_form():
    selected_gender = gender_var.get()
    terms_accepted = terms_var.get()
    print(f"Selected Gender: {selected_gender}")
    print(f"Terms Accepted: {terms_accepted}")

# Create the main window
root = tk.Tk()
root.title("Form with Radio Buttons and Checkboxes")

# Create and place radio buttons
gender_var = tk.StringVar(value="Male")
tk.Label(root, text="Gender:").grid(row=0, column=0, padx=10, pady=10)
tk.Radiobutton(root, text="Male", variable=gender_var, value="Male").grid(row=1, column=0, padx=10, pady=5)
tk.Radiobutton(root, text="Female", variable=gender_var, value="Female").grid(row=2, column=0, padx=10, pady=5)

# Create and place checkboxes
terms_var = tk.BooleanVar()
tk.Checkbutton(root, text="Accept Terms and Conditions", variable=terms_var).grid(row=3, column=0, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=4, column=0, pady=20)

# Run the application
root.mainloop()

Selected Gender: Male
Terms Accepted: True

3. Form with Dropdown Menu (OptionMenu)

In [16]:
import tkinter as tk

def submit_form():
    selected_option = option_var.get()
    print(f"Selected Option: {selected_option}")

# Create the main window
root = tk.Tk()
root.title("Form with Dropdown Menu")

# Create and place dropdown menu
options = ["Option 1", "Option 2", "Option 3"]
option_var = tk.StringVar(value=options[0])
tk.Label(root, text="Choose an option:").grid(row=0, column=0, padx=10, pady=10)
option_menu = tk.OptionMenu(root, option_var, *options)
option_menu.grid(row=0, column=1, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=1, column=0, columnspan=2, pady=20)

# Run the application
root.mainloop()

4. Form with a Text Area

In [17]:
import tkinter as tk

def submit_form():
    comments = text_area.get("1.0", tk.END).strip()
    print(f"Comments: {comments}")

# Create the main window
root = tk.Tk()
root.title("Form with Text Area")

# Create and place a text area
tk.Label(root, text="Comments:").grid(row=0, column=0, padx=10, pady=10)
text_area = tk.Text(root, width=40, height=10)
text_area.grid(row=1, column=0, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=2, column=0, pady=20)

# Run the application
root.mainloop()

5. Form with a Spinbox

In [18]:
import tkinter as tk

def submit_form():
    quantity = quantity_var.get()
    print(f"Quantity: {quantity}")

# Create the main window
root = tk.Tk()
root.title("Form with Spinbox")

# Create and place a spinbox
tk.Label(root, text="Quantity:").grid(row=0, column=0, padx=10, pady=10)
quantity_var = tk.IntVar(value=1)
spinbox = tk.Spinbox(root, from_=1, to=10, textvariable=quantity_var)
spinbox.grid(row=0, column=1, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=1, column=0, columnspan=2, pady=20)

# Run the application
root.mainloop()

6. Creating a Menu in a tkinter Application

In [20]:
import tkinter as tk
from tkinter import messagebox

def about():
    messagebox.showinfo("About", "This is a simple menu example.")

def open_file():
    # Placeholder function to demonstrate menu item action
    messagebox.showinfo("Open", "Open file dialog would appear here.")

def exit_app():
    root.quit()

# Create the main window
root = tk.Tk()
root.title("Menu Example")

# Create a menu bar
menu_bar = tk.Menu(root)
root.config(menu=menu_bar)

# Create a "File" menu
file_menu = tk.Menu(menu_bar, tearoff=0)
menu_bar.add_cascade(label="File", menu=file_menu)
file_menu.add_command(label="Open", command=open_file)
file_menu.add_separator()
file_menu.add_command(label="Exit", command=exit_app)

# Create an "Edit" menu
edit_menu = tk.Menu(menu_bar, tearoff=0)
menu_bar.add_cascade(label="Edit", menu=edit_menu)
edit_menu.add_command(label="Cut")
edit_menu.add_command(label="Copy")
edit_menu.add_command(label="Paste")

# Create an "Help" menu
help_menu = tk.Menu(menu_bar, tearoff=0)
menu_bar.add_cascade(label="Help", menu=help_menu)
help_menu.add_command(label="About", command=about)

# Run the application
root.mainloop()

# Simple Calculator

In [22]:
import tkinter as tk

# Function to update the input in the display
def button_click(number):
    current = display.get()
    display.delete(0, tk.END)
    display.insert(0, current + str(number))

# Function to clear the display
def button_clear():
    display.delete(0, tk.END)

# Function to calculate the result
def button_equal():
    try:
        result = str(eval(display.get()))
        display.delete(0, tk.END)
        display.insert(0, result)
    except Exception as e:
        display.delete(0, tk.END)
        display.insert(0, "Error")

# Create the main application window
root = tk.Tk()
root.title("Simple Calculator")

# Entry widget for display
display = tk.Entry(root, width=35, borderwidth=5)
display.grid(row=0, column=0, columnspan=4, padx=10, pady=10)

# Define buttons
button_1 = tk.Button(root, text="1", padx=20, pady=20, command=lambda: button_click(1))
button_2 = tk.Button(root, text="2", padx=20, pady=20, command=lambda: button_click(2))
button_3 = tk.Button(root, text="3", padx=20, pady=20, command=lambda: button_click(3))
button_4 = tk.Button(root, text="4", padx=20, pady=20, command=lambda: button_click(4))
button_5 = tk.Button(root, text="5", padx=20, pady=20, command=lambda: button_click(5))
button_6 = tk.Button(root, text="6", padx=20, pady=20, command=lambda: button_click(6))
button_7 = tk.Button(root, text="7", padx=20, pady=20, command=lambda: button_click(7))
button_8 = tk.Button(root, text="8", padx=20, pady=20, command=lambda: button_click(8))
button_9 = tk.Button(root, text="9", padx=20, pady=20, command=lambda: button_click(9))
button_0 = tk.Button(root, text="0", padx=20, pady=20, command=lambda: button_click(0))

button_add = tk.Button(root, text="+", padx=20, pady=20, command=lambda: button_click('+'))
button_subtract = tk.Button(root, text="-", padx=22, pady=20, command=lambda: button_click('-'))
button_multiply = tk.Button(root, text="*", padx=22, pady=20, command=lambda: button_click('*'))
button_divide = tk.Button(root, text="/", padx=22, pady=20, command=lambda: button_click('/'))

button_equal = tk.Button(root, text="=", padx=20, pady=20, command=button_equal)
button_clear = tk.Button(root, text="C", padx=20, pady=20, command=button_clear)

# Arrange buttons in grid layout
button_1.grid(row=3, column=0)
button_2.grid(row=3, column=1)
button_3.grid(row=3, column=2)
button_4.grid(row=2, column=0)
button_5.grid(row=2, column=1)
button_6.grid(row=2, column=2)
button_7.grid(row=1, column=0)
button_8.grid(row=1, column=1)
button_9.grid(row=1, column=2)
button_0.grid(row=4, column=0)

button_clear.grid(row=4, column=1)
button_add.grid(row=1, column=3)
button_subtract.grid(row=2, column=3)
button_multiply.grid(row=3, column=3)
button_divide.grid(row=4, column=3)
button_equal.grid(row=4, column=2)

# Start the Tkinter event loop
root.mainloop()