# جلسه اول
### معرفی پایتون

In [ ]:
a = 2
b = 3

In [ ]:
a
b

In [ ]:
print(a)

In [ ]:
print(a * b)

In [ ]:
str = 'Hello'
print(str)

In [ ]:
str = 'Goodbye'
print(str)

In [ ]:
name = "John Doe"

In [ ]:
print(name)

In [ ]:
name = 10
type(name)
name * 3

In [ ]:
a, b, c = 1, 2, 3

a, b, c

In [ ]:
a = 10
b = 20

In [ ]:
print(a, b)
t = a
a = b
b = t

print(a, b)

In [ ]:
a, b = b, a

print(a,b)

In [ ]:
x = 20
x += 5     # x = x + 5
x

In [ ]:
x = 3
y = 20 if x > 5 else 0
y

In [ ]:
my_list = [1, 2, 3]
a, b, c = my_list

print(a, b, c)

In [ ]:
"Ali"

In [ ]:
2 ** 3

In [ ]:
23 / 4

In [ ]:
23 // 4

In [ ]:
23 % 4

In [ ]:
'Hi ali'

In [ ]:
2 +* 4

In [ ]:
m = '091712345'

In [ ]:
text = """
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
This is a sample text. This is a sample text. This is a sample text.
"""

In [ ]:
text

In [ ]:
name = 'Ali'

In [ ]:
name * 3

In [ ]:
family = 'Asadi'

In [ ]:
name + ' ' + family

In [ ]:
(name + ' ') * 5

In [ ]:
x = input()

In [ ]:
x

In [ ]:
first_string = "Mohammad"
second_string = "Asadi"
print(first_string + " " + second_string)

In [ ]:
y = first_string / second_string
print(y)

In [ ]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

In [ ]:
print("Name: {0}, Age: {1}".format(name, age))

In [ ]:
# url = "https://divar.ir/v/{}/{}".format(,)

In [ ]:
print(f"Name: {name}, Age:{age:4d}")

In [ ]:
print("Python", "Java", "C++", sep="   ")

In [ ]:
print('Hello', end=" ")
print('World!')

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
person = {"name": "Alice", "age": 30}
print(person)

In [ ]:
num = int(input("Enter a number: "))

In [ ]:
num * 5

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
sum = float(num1) + float(num2)
print("The sum of the two numbers is: " + str(sum))
print("The sum of the two numbers is: ", sum)
print(f"The sum of the two numbers is: {sum}")

In [ ]:
my_list = ['ali', 'baaaa', 'c', 'd']
len(my_list)

In [ ]:
int('42') * 4

In [ ]:
int('42')

In [ ]:
int(float('99.99'))

# String

In [ ]:
str = "Hello. My name is Ali."

In [ ]:
str.lower()

In [ ]:
str = str.upper()
str

In [ ]:
str.capitalize()

In [ ]:
str.find('Ali')

In [ ]:
str.count('is')

In [ ]:
str_new = str.replace('Ali', 'Mmd')

In [ ]:
str

In [ ]:
str_new

In [ ]:
str2 = "   hello, ali,   "

str2.strip()

In [ ]:
str = "Hello. My name is Ali."
print(str)

In [ ]:
s = """
تابع )(print: تابع print یÇ از توابع پایهای و پرکاربرد در پایتون است که برای نمایش خروجی در کنسول )یا صفحه نمایش( استفاده شود. مثال ۱: چاپ یک رشته ساده
"""
len(s.split('.'))

In [ ]:
str.split('\n')

In [ ]:
first_string, second_string

In [ ]:
'-'.join([first_string, second_string])

In [ ]:
str_list = str.split()

str_list

In [ ]:
' '.join(str_list)

In [ ]:
age = 16
if age >= 18:
    print('U r adult.')
    print('Bye')

In [ ]:
if age >= 18:
    print('U r adult.')
else:
    print('U r young.')

A: grade >= 18

B: 14<= grade < 18

C: 10<= grade < 14

D: grade < 10

In [ ]:
grade = float(input('Enter your grade: '))

if grade > 20 or grade < 0:
    print('Error')
else:
    if grade >= 18:
        print('A')
    elif grade >= 14:   # and grade < 18
        print('B')
    elif grade >= 10:   # and grade < 14
        print('C')
    else:
        print('D')

# Loops

In [ ]:
for i in ['z', 'b', 'c']:
    print('Hello', i)

In [ ]:
for i in "asadi":
    print("Hello", i)

In [ ]:
for i in range(10):
    print("Hi", i)

In [ ]:
for i in range(2, 10):
    print("Hi", i)

In [ ]:
for i in range(2, 10, 2): # range(start, end, step)
    print("Hi", i)

In [ ]:
for i in range(10, 1, -1): 
    print("Hi", i)

In [ ]:
names = ['Ali', 'Mohammad', 'Zahra', 'Saba', 'sadra']

for name in names:
    if name[0].upper() == 'S':
        print(f'Hello {name}!')

In [2]:
i=0
while i < 5:
    print(i)
    i += 1
    
i

0
1
2
3
4

5

In [3]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [4]:
for i in range(10):
    if i == 5:
        continue
    
    print(i)

0
1
2
3
4
6
7
8
9

In [5]:
import random

In [25]:
random.randint(100, 999)

916

In [6]:
print('-'*10)
print('H',' ' * 2 , '|',' ' * 2 , 32)
print('-'*10)

----------
H    |    32
----------

# Lists

In [7]:
my_list = ['Ali', 12, 3.14]

In [9]:
my_list[1]

12

In [10]:
my_list[1] = 20

In [11]:
my_list

['Ali', 20, 3.14]

In [12]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [17]:
my_list[-1], my_list[-2], my_list[-4]

('N', 'O', 'T')

In [18]:
my_list[1:4]

['Y', 'T', 'H']

In [ ]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

In [19]:
my_list[:4]

['P', 'Y', 'T', 'H']

In [22]:
my_list[:4:2]

['P', 'Y', 'T', 'H']

In [25]:
my_list[1:]

['Y', 'T', 'H', 'O', 'N']

In [26]:
my_list[::2]

['P', 'T', 'O']

In [29]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[5:2:-1]

['N', 'O', 'H']

In [30]:
my_list[-1:-4:-1]

['N', 'O', 'H']

In [31]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']
my_list[::-1]

['N', 'O', 'H', 'T', 'Y', 'P']

In [32]:
str = "Hello python."
str[::-1]

'.nohtyp olleH'

In [33]:
str.split()[::-1]

['python.', 'Hello']

In [37]:
my_list.append('*')
my_list

['P', 'Y', 'T', 'H', 'O', 'N', '*', '*', '*']

In [44]:
my_list.insert(1, 'Hi')
my_list

['P',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Hi',
 'Y',
 'T',
 'H',
 'O',
 'N',
 '*',
 '*',
 '*']

In [45]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N']

charachter = my_list.pop()

In [46]:
charachter

'N'

In [47]:
my_list

['P', 'Y', 'T', 'H', 'O']

In [48]:
charachter = my_list.pop(1)
charachter

'Y'

In [49]:
my_list

['P', 'T', 'H', 'O']

In [53]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
my_list.remove('T')

In [54]:
my_list

['P', 'Y', 'H', 'O', 'N', 'T', 'T']

In [56]:
my_list == 'T'

False

In [57]:
L1 = [1, 2, 3]
L2 = [3, 4, 5]
L1 + L2

[1, 2, 3, 3, 4, 5]

In [58]:
L1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
1 in L1

True

In [63]:
[2 * x for x in [1,2, 3]]

[2, 4, 6]

In [67]:
[2 * x for x in range(10) if x % 2 == 0]

[0, 4, 8, 12, 16]

In [68]:
L3 = []
for x in range(10):
    if x % 2 == 0:
       L3.append(2 * x)
L3

[0, 4, 8, 12, 16]

In [71]:
words = ['python', 'is', 'awesome']

upper_words = [word.upper() for word in words]
upper_words

['PYTHON', 'IS', 'AWESOME']

In [74]:
my_list = ['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']
L4 = [x for x in my_list if x != 'T']
L4

['P', 'Y', 'H', 'O', 'N']

In [75]:
my_list

['P', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [77]:
my_list

new_list = my_list

In [78]:
new_list[0] = 'Python'
new_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [79]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [80]:
new_list = my_list.copy()
new_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [81]:
new_list[0] = 'C++'

In [83]:
new_list

['C++', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [84]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [85]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T']

In [89]:
L5 = ['AA', 'BB']
my_list.extend(L5)

In [87]:
my_list + L5

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T', 'AA', 'BB']

In [90]:
my_list

['Python', 'Y', 'T', 'H', 'O', 'N', 'T', 'T', 'AA', 'BB']

# Tuples

In [1]:
my_tuple = (1, 2, 3)

In [2]:
my_tuple[1]

2

In [3]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [4]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:3]

(1, 2, 3)

In [5]:
my_tuple * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [6]:
tuple2 = (10, 20, 30)

tuple2 + my_tuple

(10, 20, 30, 1, 2, 3, 4, 5)

In [7]:
10 in tuple2

True

In [14]:
tuple2.index(20)

1

In [18]:
my_list = []
tuple3 = ('aaa', 34)
type(tuple3)

tuple

In [19]:
int(3.14)

3

In [20]:
my_list = [10, 20, 30]

tup = tuple(my_list)

tup

(10, 20, 30)

In [22]:
list2 = list(my_tuple)
list2

[1, 2, 3, 4, 5]

In [23]:
min(tup)

10

In [30]:
tup_sting = ('ali', 'z', 'ahmad')
min(tup_sting)

'ahmad'

In [34]:
tup_sting = ('A', '20000')
min(tup_sting)

'20000'

# Dictionaries

In [42]:
my_dict = {'Math': 10 , 'Physics' : 15 , 'Sport': 18}

In [37]:
my_dict['Math']

10

In [38]:
my_dict['Physics'] = 16
my_dict

{'Math': 10, 'Physics': 16, 'Sport': 18}

In [43]:
my_dict['Art'] = 10
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [41]:
del my_dict['Math']

my_dict

{'Physics': 16, 'Sport': 18, 'Art': 10}

In [45]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [49]:
list(my_dict.keys())

['Math', 'Physics', 'Sport', 'Art']

In [50]:
my_dict.values()

dict_values([10, 15, 18, 10])

In [51]:
my_dict.items()

dict_items([('Math', 10), ('Physics', 15), ('Sport', 18), ('Art', 10)])

In [52]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10}

In [55]:
average = sum(my_dict.values()) / len(my_dict.values())

average

13.25

In [54]:
len(my_dict)

4

In [57]:
for key in my_dict.keys():
    print(key)

Math
Physics
Sport
Art

In [59]:
for value in my_dict.values():
    print(value)

10
15
18
10

In [61]:
for key, value in my_dict.items():
    print(f"{key} : {value}")

Math : 10
Physics : 15
Sport : 18
Art : 10

In [69]:
list_dict = list(my_dict.keys())[::2]
list_dict

['Math', 'Sport']

In [67]:
my_dict[list(my_dict.keys())[1]]

15

In [71]:
my_dict[list_dict[0]], my_dict[list_dict[1]]

(10, 18)

In [72]:
my_dict.update({'Lang': 18})

In [73]:
my_dict

{'Math': 10, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

In [74]:
dict3 = my_dict

In [75]:
dict3['Math'] = 20

my_dict

{'Math': 20, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

In [76]:
dict4 = my_dict.copy()
dict4

{'Math': 20, 'Physics': 15, 'Sport': 18, 'Art': 10, 'Lang': 18}

# Sets

In [14]:
my_set = {1, 2, 3, 4, 1, 5}

my_set

{1, 2, 3, 4, 5}

In [15]:
my_set.add(10)
my_set

{1, 2, 3, 4, 5, 10}

In [16]:
print(len(my_set))
my_set.remove(2)
print(len(my_set))

6
5

In [17]:
my_set

{1, 3, 4, 5, 10}

In [18]:
print(len(my_set))
my_set.discard(2)
print(len(my_set))

5
5

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [20]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [21]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [22]:
set1.intersection(set2)

{3, 4}

In [23]:
set1 & set2

{3, 4}

In [24]:
set1.difference(set2)

{1, 2}

In [25]:
set1 - set2

{1, 2}

In [26]:
set1.symmetric_difference(set2)

{1, 2, 5, 6}

In [27]:
set1 ^ set2

{1, 2, 5, 6}

In [28]:
str = 'Hello Worlds.'.replace(' ', '').replace('.', '')

In [29]:
unique_letters = set(str)
print('+', '-' * 4, '+', '-' * 9, '+')
print('| Name | Frequency |')
print('+', '=' * 4, '+', '=' * 9, '+')
for letter in unique_letters:
    # print('|', letter,'   |', str.count(letter), '|')
    print(f'|{letter:6}| {str.count(letter):9} |') 

    print('+', '-' * 4, '+', '-' * 9, '+')

+ ---- + --------- +
| Name | Frequency |
+ ==== + ========= +
|s     |         1 |
+ ---- + --------- +
|r     |         1 |
+ ---- + --------- +
|W     |         1 |
+ ---- + --------- +
|e     |         1 |
+ ---- + --------- +
|l     |         3 |
+ ---- + --------- +
|o     |         2 |
+ ---- + --------- +
|d     |         1 |
+ ---- + --------- +
|H     |         1 |
+ ---- + --------- +

In [30]:
from tabulate import tabulate
print(tabulate([["Sun",696000,1989100000],["Earth",6371,5973.6],["Moon",1737,73.5],["Mars",3390,641.85]],headers=['A','B', 'C'], tablefmt="fancy_grid"))

╒═══════╤════════╤═══════════════╕
│ A     │      B │             C │
╞═══════╪════════╪═══════════════╡
│ Sun   │ 696000 │    1.9891e+09 │
├───────┼────────┼───────────────┤
│ Earth │   6371 │ 5973.6        │
├───────┼────────┼───────────────┤
│ Moon  │   1737 │   73.5        │
├───────┼────────┼───────────────┤
│ Mars  │   3390 │  641.85       │
╘═══════╧════════╧═══════════════╛

In [34]:
set1.update([10, 20, 30])

TypeError: unhashable type: 'list'

In [41]:
set1

TypeError: 'set' object is not subscriptable

In [38]:
t1 = []
t2 = ()
t3 = {}
t4 = {}
print(type(t1),type(t2),type(t3), type(t4))

SyntaxError: invalid syntax (1279533855.py, line 4)

In [39]:
t5 = list()

In [22]:
type(t5)

NameError: name 't5' is not defined

<div style="color: red;background-color: yellow;">
<h2>Functions </h2>
</div>

In [1]:
def summation(a, b):
    '''
    تابع جمع دو عدد
    input: a,b
    output: a+b
    '''
    s = a + b
    return s

summation(2,4)

6

In [2]:
summation(3,10)

13

In [3]:
summation(20, 30)

50

In [4]:
help(summation)

Help on function summation in module __main__:

summation(a, b)
    تابع جمع دو عدد
    input: a,b
    output: a+b

In [5]:
# help(list)

In [6]:
def upp_low_count(string):
    lower_count = 0
    upper_count = 0
    for ch in string:
        if ch.islower():
            lower_count += 1
        elif ch.isupper():
            upper_count += 1
    return lower_count, upper_count

In [7]:
st = "My name is Ali."

l_count, u_count = upp_low_count(st)

        
print(l_count, u_count)

9 2

In [8]:
upp_low_count("Hi Reza, How are U?")

(9, 4)

In [9]:
def mean_list(lst):
    return (sum(lst) / len(lst))

In [10]:
my_list = [10, 12, 15, 81, 20]

mean_list(my_list)

27.6

In [11]:
min(my_list)

10

In [12]:
len(st.split())

4

In [13]:
upp_low_count()

TypeError: upp_low_count() missing 1 required positional argument: 'string'

In [14]:
def welcome(name="World"):
    print(f"Welcome {name}!")

In [15]:
welcome("Ali")

Welcome Ali!

In [16]:
welcome()

Welcome World!

In [28]:
welcome("Ali", "Reza")

TypeError: welcome() takes from 0 to 1 positional arguments but 2 were given

In [21]:
st = "Hi. I am Ali. U?"

In [23]:
st.split(".")
# default value

['Hi', ' I am Ali', ' U?']

In [26]:
def summation(*args):
    return sum(args)


summation(1,2)

3

In [27]:
summation(10, 20, 30, 40)

100

In [29]:
def disp_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} ---- {value}")

In [30]:
disp_info(name="Ali", age=30, income=1000)

name ---- Ali
age ---- 30
income ---- 1000

In [31]:
disp_info(name="Ali", age=30)

name ---- Ali
age ---- 30

In [32]:
disp_info(city="Tehran")

city ---- Tehran

<div style="color: red;background-color: yellow;">
<h2>lambda </h2>
</div>

In [33]:
# def add(a, b):
#     return a + b

add = lambda a, b : a + b

add(10, 30)

40

In [34]:
def square(a):
    return a ** 2

In [35]:
square(5)

25

In [36]:
sq = lambda a : a ** 2
sq(5)

25

<div style="color: red;background-color: yellow;">
<h2>map </h2>
</div>

In [ ]:
map(func, data)

In [50]:
my_list = [1, 2, 3, 4, 5]

list(map(lambda a :  a ** 2, my_list))

[1, 4, 9, 16, 25]

<div style="color: red;background-color: yellow;">
<h2>filter </h2>
</div>

In [47]:
list(filter(lambda a : (a % 2 == 0), my_list))

[2, 4]

In [52]:
my_list = [1, 2, 3, 4, 5]
list(map(lambda a :  a ** 2, my_list))

sq_list =[]
for i in my_list:
    sq_list.append(i ** 2)
    
sq_list

[1, 4, 9, 16, 25]

In [53]:
my_list

[1, 2, 3, 4, 5]

In [57]:
words = ["ali", 'apple', "book"]

list(map(lambda w : w.upper(), words))

['ALI', 'APPLE', 'BOOK']

In [ ]:
map(func, list)

In [63]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ["@", "#", "$", "&"]

<div style="color: red;background-color: yellow;">
<h2>zip </h2>
</div>

In [62]:
list(zip(list1, list2, list3))

[(1, 'a', '@'), (2, 'b', '#'), (3, 'c', '$')]

In [66]:
dict(zip(list1, list2))

{1: 'a', 2: 'b', 3: 'c'}

In [72]:
names = ["Ali", "Sadra", "Mmd"]

age = [15, 17, 16]

dict(zip(names, age))

{'Ali': 15, 'Sadra': 17, 'Mmd': 16}

In [71]:
for key, value in dict(zip(names, age)).items():
    print("===", key, value)

=== Ali 15
=== Sadra 17
=== Mmd 16

In [75]:
a = 2
b = 3

a, b

(2, 3)

In [1]:
import mymodule

In [2]:
mymodule.welcome("Ali")

Hello Ali

In [3]:
mymodule.goodbye("Ali")

Goodbye Ali

In [1]:
from mymodule import *

In [2]:
welcome("Ali")

Hello Ali

In [2]:
import mymodule as mm

In [3]:
mm.goodbye("Saeed")

Goodbye Saeed

In [6]:
import math
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.11/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/asadi/anaconda3/envs/DS/lib/python3.11/lib-dynload/math.cpython-311-darwin.so

In [1]:
import os

In [2]:
# add = /Users/asadi/Documents/py/My Py Course/Context
os.path.join("Context", "Git")

'Context/Git'

<div style="color: red;background-color: yellow;">
<h2>try-except </h2>
</div>

In [1]:
10 / 0

ZeroDivisionError: division by zero

In [7]:
try:
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
except ValueError:
    print("یک مقدار معتبر وارد کنید.")

try:
    q = a / b
    print(q)
except ZeroDivisionError:
    print("خطای تقسیم بر صفر")

یک مقدار معتبر وارد کنید.
خطای تقسیم بر صفر

In [12]:
try:
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
    q = a / b
except ValueError:
    print("یک مقدار معتبر وارد کنید.")
except ZeroDivisionError:
    print("خطای تقسیم بر صفر")
else:
    print(q)

خطای تقسیم بر صفر

In [13]:
def divide(x, y):
    if y == 0:
        raise ValueError(".مقدار تقسیم کننده نمیتواند صفر باشد")
    return x / y

In [14]:
try:
    print(divide(10, 0))
except ValueError as e:
    print("خطا:", e)

خطا: .مقدار تقسیم کننده نمیتواند صفر باشد

In [15]:
def divide(x, y):
    # if y == 0:
    #     raise ValueError(".مقدار تقسیم کننده نمیتواند صفر باشد")
    return x / y

In [16]:
try:
    print(divide(10, 0))
except ValueError as e:
    print("خطا:", e)

ZeroDivisionError: division by zero

<div style="color: red;background-color: yellow;">
<h2>File </h2>
</div>

In [66]:
filename = "myfile.txt"

text = """
Hi.
My name is Ali.
I'm a teacher.
"""

file = open(filename, "w")

file.write(text)

file.close()

In [70]:
names = ["Ali", "Ebi", "Esi", "Mohammad"]

file = open("/Users/asadi/Documents/py/My Py Course/Codes/GIT test/names.txt", "w")

for name in names:
    file.writelines(name + "\n")
    
file.close()

In [103]:
names = ["Ali", "Ebi", "Esi", "Mohammad"]

file = open("names.txt", "w")

for name in names:
    file.writelines(name + "\n")
    
file.close()

In [75]:
file = open("names.txt", "r")

content = file.read()

print(content)

file.close()

Ali
Ebi
Esi
Mohammad

In [84]:
file = open("names.txt", "r")

name_list = file.readlines()

print(type(name_list))

for name in name_list:
    print(name.strip())

file.close()

<class 'list'>
Ali
Ebi
Esi
Mohammad

In [87]:
name_list[0].strip()

'Ali'

In [81]:
"     Ali    \n ".strip()

'Ali'

In [91]:
file = open("names.txt", "r")

while True:
    
    line = file.readline()

    if not line:
        break
    
    print(line.strip())


file.close()

Ali
Ebi
Esi
Mohammad

In [95]:
file = open("names.txt", "r")

a = file.readline()
print(a)

file.seek(5)

a = file.readline()
print(a)

file.close()

Ali

bi

In [96]:
file = open("names.txt", "r")

while True:
    print(file.tell())
    
    line = file.readline()

    if not line:
        break
    
    print(line.strip())


file.close()

0
Ali
4
Ebi
8
Esi
12
Mohammad
21

In [100]:
filename = "names.txt"

file = open(filename, "a")

file.write("Mostafa\n")

file.write("Sadra\n")

file.write("Saba")


file.close()

In [105]:
with open(filename, "r") as file:
    content = file.read()
    
print(content)

Ali
Ebi
Esi
Mohammad

In [110]:
numbers = [10, 12, 16, 14, 19]

with open("grades.txt", "w") as file:
    for number in numbers:
        file.write(f"{str(number)}\n")

In [ ]:
def write_grades_file(filename, num_list):
    with open(filename, "w") as file:
        for number in num_list:
            file.write(f"{str(number)}\n")

In [117]:
with open("grades.txt", "r+") as file:
    grades = file.readlines()
    new_grades = []
    for grade in grades:
        new_grades.append(int(grade.strip()) + 1)
    
print(grades)
print(new_grades)


write_grades_file("grades.txt", new_grades)

['12\n', '14\n', '18\n', '16\n', '21\n']
[13, 15, 19, 17, 22]

In [114]:
write_grades_file("test.txt", [10, 20, 30])

### خواندن از فایل و نوشتن همزمان

In [118]:
1/0

ZeroDivisionError: division by zero

In [119]:
try:
    with open("grades.txt", "r") as file:
        content = file.read()
        
        print(content)
        
except Exception as e:
    print(e)

13
15
19
17
22

In [120]:
try:
    with open("aaa.txt", "r") as file:
        content = file.read()
        
        print(content)
        
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'aaa.txt'

In [121]:
with open("aaa.txt", "r") as file:
    content = file.read()
    
    print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'aaa.txt'

In [126]:
filename = "aaa.txt"
try:
    with open(filename, "r") as file:
        content = file.read()
        
        print(content)
        
except FileNotFoundError:
    print(f"فایل {filename} وجود ندارد.")
except Exception as e:
    print(e)

فایل aaa.txt وجود ندارد.

In [ ]:
with open("myfile.txt", "r+") as file:
    
    file.truncate(10)

### ٩٧. با استفاده ازmap وfilter لیستی از اعداد داشته باشید که اعداد زوج را به توان ۲ برساند.

In [12]:
numbers = [3, 4, 6, 2, 7, 1, 9]

even_numbers = list(filter(lambda x : x % 2 == 0, numbers))

list(map(lambda x : x ** 2, even_numbers))

[16, 36, 4]

In [22]:
numbers = [3, 4, 6, 2, 7, 1, 9]

[x ** 2 if x % 2 == 0 else x for x in numbers]

[3, 16, 36, 4, 7, 1, 9]

### CSV

In [2]:
import csv

In [3]:
data_list = []
with open("data.csv", "r") as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)
        data_list.append(row)

['name', 'age', 'city']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']
['Diana', '28', 'Houston']

In [4]:
data_list

[['name', 'age', 'city'],
 ['Alice', '30', 'New York'],
 ['Bob', '25', 'Los Angeles'],
 ['Charlie', '35', 'Chicago'],
 ['Diana', '28', 'Houston']]

In [ ]:
{
    "name": "Alice",
    "age": 30,
    "city" : "New York" 
}

In [1]:
import csv

In [2]:
with open("data.csv", "r") as file:
    csv_reader = csv.reader(file)
    
    for row in csv_reader:
        print(row)

['name', 'age', 'city']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']
['Diana', '28', 'Houston']

In [8]:
data_list = []
with open("data.csv", "r") as file:
    csv_reader = csv.DictReader(file)
    
    for row in csv_reader:
        # print(row)
        data_list.append(row)
        
data_list

[{'name': 'Alice', 'age': '30', 'city': 'New York'},
 {'name': 'Bob', 'age': '25', 'city': 'Los Angeles'},
 {'name': 'Charlie', 'age': '35', 'city': 'Chicago'},
 {'name': 'Diana', 'age': '28', 'city': 'Houston'}]

In [9]:
data_list

[{'name': 'Alice', 'age': '30', 'city': 'New York'},
 {'name': 'Bob', 'age': '25', 'city': 'Los Angeles'},
 {'name': 'Charlie', 'age': '35', 'city': 'Chicago'},
 {'name': 'Diana', 'age': '28', 'city': 'Houston'}]

In [23]:
import csv

with open('names.csv', 'w', newline='') as csvfile:
    fieldnames = ['first_name', 'last_name']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'first_name': 'Baked', 'last_name': 'Beans'})
    writer.writerow({'first_name': 'Lovely', 'last_name': 'Spam'})
    writer.writerow({'first_name': 'Wonderful', 'last_name': 'Spam'})

In [30]:
fieldnames = ["city", "name", "age"]
with open("newdata.csv", "w") as file:
    csv_writer = csv.DictWriter(file, fieldnames=fieldnames)
    
    csv_writer.writeheader()   
    csv_writer.writerows(data_list)

In [32]:
headers = ['name', 'age', 'city']

my_data = [
    ['Alice', '30', 'New York'],
    ['Bob', '25', 'Los Angeles'],
    ['Charlie', '35', 'Chicago'],
    ['Diana', '28', 'Houston'],
]

In [35]:
with open("data_list.csv", "w") as file:
    csv_writer = csv.writer(file)
    
    csv_writer.writerow(headers)
    
    csv_writer.writerows(my_data)
    # for row in my_data:
    #     csv_writer.writerow(row)
        
    
    csv_writer.writerow(["Ali", "23", "Texas"])

In [37]:
import json
import csv

f = open('data.json')
data = json.load(f)
f.close()

with open("jsontocsv.csv", "w") as file:
    
    csv_writer = csv.writer(file)
    for item in data:
        csv_writer.writerow(item)

### CLASS

In [26]:
class Fraction:
    def __init__(self, s=1, m=1) -> None:
        self.sorat = s
        self.makhraj = m
        
    def display(self):
        print(self.sorat)
        print('---')
        print(self.makhraj)
        
    def multiply(self, y):
        s = self.sorat * y.sorat
        m = self.makhraj * y.makhraj
        z = Fraction(s, m)
        return z
    
    def frac_to_float(self):
        return self.sorat / self.makhraj

In [27]:
x = Fraction(2, 3)
y = Fraction(4, 5)
x.display()
y.display()

2
---
3
4
---
5

In [25]:
w = Fraction()
w.display()

1
---
1

In [15]:
z = x.multiply(y)

In [16]:
z.display()

8
---
15

In [19]:
import cmath

2 + cmath.sqrt(-1)

(2+1j)

In [29]:
x = Fraction(2, 3)
y = Fraction(4, 5)

x.frac_to_float(), y.frac_to_float()

(0.6666666666666666, 0.8)

In [5]:
class fraction:
    def __init__(self, sorat, makhraj) -> None:
        self.sorat = sorat
        if makhraj != 0:
            self.makhraj = makhraj
        else:
            print("مخرج نمی‌تواند صفر باشد.")
        
        
    
    def display(self):
        print(self.sorat)
        print("-"*5, sep='')
        print(self.makhraj)

In [6]:
x = fraction(2,3)

In [7]:
x.display()

2
-----
3

In [34]:
class Book():
    
    def __init__(self, title, author) -> None:
        self.title = title
        self.author = author
        self.is_checked_out = False
        
    def checked_out(self):
        self.is_checked_out = True
        
    def return_book(self):
        self.is_checked_out = False
        
    def display(self):
        print(f"{self.title} by {self.author}")

In [35]:
book1 = Book("C++", "Jafar Nejad")

In [36]:
book1.is_checked_out

False

In [37]:
book1.display()

C++ by Jafar Nejad

In [46]:
class Library:
    def __init__(self, ) -> None:
        self.books = []
        price = 100
        
    
    def add_book(self, book):
        self.books.append(book)
    
    def show_books(self):
        for book in self.books:
            book.display()
    
    def check_in_out():
        pass

In [44]:
my_library = Library()

my_library.add_book(book1)

book2 = Book("Network", "Tanenbaum")
my_library.add_book(book2)
# my_library.show_books()

In [45]:
my_library.show_books()

C++ by Jafar Nejad
Network by Tanenbaum

In [53]:
class MiniBook(Book):
    def __init__(self, title, author, pages) -> None:
        super().__init__(title, author)
        self.pages = pages
        
    def display(self):
        super().display()
        print(f"Pages: {self.pages}")

In [55]:
minibook1 = MiniBook("Python", "Asadi", 50)

In [56]:
minibook1.display()

Python by Asadi
Pages: 50

In [70]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance    
            
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount
    def get_balance(self):
        return self.__balance

In [71]:
my_account = BankAccount(500)

In [73]:
my_account.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [74]:
my_account.__balance = 1000

In [75]:
my_account.get_balance()

500

In [69]:
my_account.get_balance()

1000

In [ ]:
print(my_account.__dict__)

{'_BankAccount__balance': 500, '__balance': 1000}

In [77]:
print(my_account._BankAccount__balance)  # دسترسی به متغیر خصوصی واقعی
print(my_account.__balance)               # دسترسی به متغیر جدید که خودتان تعریف کرده‌اید

500
1000

In [76]:
from abc import ABC, abstractmethod